Package: usbsoftrock
Version: 1.0.2-0gz1
Architecture: i386
Maintainer: Dr. Gerolf Ziegenhain <g@ziegenhain.com>
Installed-Size: 80
Depends: libc6 (>= 2.1), libncurses5 (>= 5.7+20100313), libusb-0.1-4 (>= 2:0.1.12)
Recommends: sdr-shell (>= 4.0)
Section: hamradio
Priority: extra
Homepage: http://code.google.com/p/usbsoftrock/
Description: Control the Si570 Softrock
 Allows use of the Si570 based Softrock kits (and others) from Linux.
