Source: usbsoftrock 
Section: hamradio 
Essential: no
Priority: extra 
Maintainer: Dr. Gerolf Ziegenhain <g@ziegenhain.com>
Build-Depends: debhelper (>= 7.0.50), libc6 (>= 2.3.4), libstdc++6 (>= 4.4.0), libusb-dev

Package: usbsoftrock 
Depends: libusb (>= 1.0)
Recommends: sdr-shell
Architecture: any
Homepage: http://code.google.com/p/usbsoftrock/
Description: Control the Si570 Softrock
 Allows use of the Si570 based Softrock kits (and others) from Linux.
