#!/usr/bin/make -f
REV=$(shell dpkg-parsechangelog | sed -rne 's,^Version: .*[+~]svn([0-9]+).*,\1,p')
VER=$(shell dpkg-parsechangelog | sed -rne 's,^Version: ([^-]+).*,\1,p')

get-orig-source:
	rm -rf usbsoftrock-$(VER).orig
	svn -q export -r $(REV) http://usbsoftrock.googlecode.com/svn/trunk \
		usbrock-$(VER).orig
	GZIP=--best tar -cz --owner root --group root --mode a+rX \
		-f usbsoftrock_$(VER).orig.tar.gz \
		usbsoftrock-$(VER).orig
	rm -r usbsoftrock-$(VER).orig

%:
	dh  $@

